/*Julian via w3school*/
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_top */
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_transition */

/*.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}*/

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;


    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

*:hover > .tooltiptext {
    visibility: visible;
    opacity: 1;
}
