@import "style.css";

/*Printer specific additions*/
header, nav, .site_map_link, #search_form{
		display: none;
	}

body, #content, main, footer, .major-section  {
	/* floating is not advised for printers */
	   float: none;
	/* let the printer set margins */
	   width: auto;
	   margin: 0;
	   padding: 0;
	/* dont display background colors or images */
	   background: none;
	   border: none;
	   box-shadow: none;
	}

#toc-here {
	display: none;
}

a[href^="http://"]:link:after,
a[href^="http://"]:visited:after{
   content: " (URL: " attr(href) ") ";
   font-size: 90%;
}
