/***OUTLINE***
* ©2017 by Julian, Craig and Patrik
*
*Reset (Normalize) is in css/normalize.css
*
*HTML/Body and globals
*Head and banner
*Main and content
*Nav
*Table of content
*Footer
*
****************/

/***HTML, Body and Globals***/
html, body {
	padding: 0;
	margin: 0;
}

/* page Wrapper */
.page-wrap {
  /* Critical position and size styles */
  position: relative;
  padding: 2em 4em;
}

/* start left side nav */
/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  padding: 0;
  margin: 0;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: -205px;
  z-index: 0;

  /* non-critical appearance styles */
  list-style: none;
  background: #111;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;

  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */

/*controls speed of magic*/
.nav-trigger + label, .page-wrap {
  transition: left 0.2s;
}

/*This moves the hamburger menu button to the right*/
.nav-trigger:checked + label {
  left: 215px;
}

/*This moves the whole page a bit to the right*/
.nav-trigger:checked ~ .page-wrap {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

/*This makes the menu appear*/
.nav-trigger:checked ~ .navigation{
	left: 0;
}


body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

/* Additional non-critical styles */

fieldset{
	max-width: 95%;
}

code {
    padding: 2px;
    background: #ddd;
}

/* end nav css */


/*Table of Contents*/

#toc-here {
	position: fixed;
	top: 1em;
	right: 1em;
	position: fixed;
	max-width: calc(100vw - 4em);
	height: calc(100vh - 2em);
	width: 0px;
}

#toc-here details[open] {
	height: 100%;
	width: calc(100vw - 4em);
	min-width: 250px;
}

#toc-here nav.table-of-contents {
	height: calc(100vh - 7.1em);
	overflow: auto;
	overflow-x: auto;
}

#toc-here details {
	float: right;
	border: 1px solid #a2a9b1;
	background-color: #f8f9fa;
	font-size: 95%;
}

#toc-here summary{
	font-size: 1.25em;
	font-weight: bold;
	cursor: pointer;
	padding: 7px;
	min-width: 5.5em;
	color: blue; /*Change to a better idea for a hover effect...*/
}

/*Gettin grid of the arrow, to replace it with something else later*/
/*
#toc-here summary::-webkit-details-marker { display:none; }
#toc-here details>summary:first-of-type { list-style-type: none; }
}
*/

#toc-here summary:hover{
	color: black;
}
#toc-here details[open] summary{
	color: black;
}

#toc-here details>* {
	padding: 0.8em;
}

nav.table-of-contents ol {
	padding: 0.25em 0 0.25em 1.5em;
}

@media (min-width:601px){
	nav.table-of-contents {
		columns: 2;
	}
}

@media (min-width:850px){
	#toc-here details {
		max-width: 800px;
	}
}

nav.table-of-contents>ol>li {
	font-size: 1.3em;
	font-weight:bold;
}

nav.table-of-contents>ol>li>ol>li {
	font-size: 0.8em;
	font-weight: normal;
}

nav.table-of-contents>ol>li>ol>li>ol>li {
	font-size: 0.9em;
}

nav.table-of-contents>ol {
	margin: -1em 0 -0.5em;
}



/* Outline Out */

#toc-here details[open].hvr-outline-out:before {
	display: none;
}

.hvr-outline-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-outline-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
  pointer-events: none;
}
.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}


/* Radial Out */
:not([open])>.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
:not([open])>.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
:not([open])>.hvr-radial-out:hover, :not([open])>.hvr-radial-out:focus, :not([open])>.hvr-radial-out:active {
  color: white;
}
:not([open])>.hvr-radial-out:hover:before, :not([open])>.hvr-radial-out:focus:before, :not([open])>.hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
